<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vadeworks.paperdroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="vadeworks.news.paperdroids.MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name="vadeworks.news.paperdroids.Kannada.VijayaKarnataka.VijayaKarnataka_MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.Splash_Screen.Splash_Main_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="vadeworks.news.paperdroids.Display_news"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="vadeworks.news.paperdroids.Hindi.AajTak.AajTak_MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.Hindi.Ndtv.Ndtv_MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.Hindi.Jagaran.Jagaran_MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.Hindi.Bbc.BBC_MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.Kannada.Esanje.Esanje_MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.MainScreen.MainScreen_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.Kannada.Prajavani.PrajaVaani_MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.Kannada.VijayaVaani.VijayaVaani_MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.VerticalNews.Vertical_News"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.All_Terms.All_Terms_MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.HorizontalNews.Horizontal_Display_News"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.Exclusive.ExclusiveActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vadeworks.news.paperdroids.Exclusive.YouTube"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor" />
        <activity android:name="vadeworks.news.paperdroids.English.DeccanHerald.DeccanHerald_Activity" />
        <activity android:name="vadeworks.news.paperdroids.English.HindustanTimes.HindustanTimes_Activity" />
        <activity android:name="vadeworks.news.paperdroids.English.DNA.Dna_Activity" />
        <activity android:name="vadeworks.news.paperdroids.English.IndianExpress.IndianExpress_Activity" />
        <activity android:name="vadeworks.news.paperdroids.Special_Card" />
        <activity android:name="vadeworks.news.paperdroids.SetNotifications" />
        <activity android:name="vadeworks.news.paperdroids.OnThisDay.OnThisDay" />
        <activity android:name="vadeworks.news.paperdroids.Quickie.Quickie" />
        <activity android:name="vadeworks.news.paperdroids.Quickie.Feedback" />
        <activity android:name="vadeworks.news.paperdroids.HoroScopes.HoroScopes"></activity>
    </application>

</manifest>