<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vadeworks.paperdroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="vadeworks.news.paperdroids.MainApplication"
        android:configChanges="orientation"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name="vadeworks.news.paperdroids.VijayaKarnataka.VijayaKarnataka_MainActivity"
            android:label="@string/app_name" />
        <activity android:name="vadeworks.news.paperdroids.Splash_Screen.Splash_Main_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="vadeworks.news.paperdroids.Display_news" />
        <activity android:name="vadeworks.news.paperdroids.AsiaNet.AsiaNet_MainActivity" />
        <activity android:name="vadeworks.news.paperdroids.UdayaVaani.UdayaVaani_MainActivity" />
        <activity android:name="vadeworks.news.paperdroids.MainScreen.MainScreen_Activity" />
        <activity android:name="vadeworks.news.paperdroids.Prajavani.PrajaVaani_MainActivity" />
        <activity android:name="vadeworks.news.paperdroids.VijayaVaani.VijayaVaani_MainActivity" />
        <activity android:name="vadeworks.news.paperdroids.Esanje.Esanje_MainActivity" />
        <activity android:name="vadeworks.news.paperdroids.VerticalNews.Vertical_News" />
        <activity android:name="vadeworks.news.paperdroids.All_Terms.All_Terms_MainActivity"></activity>
    </application>

</manifest>